{% extends 'base.html' %}

{% block content %}
<h2>{{ thread.name }}</h2>
<p>{{ thread.description }}</p>

<div class="btn-group mb-3">
    <a href="{% url 'thread-edit' thread.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'thread-delete' thread.pk %}" class="btn btn-danger">Delete</a>
</div>

<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createPostModal">
    Create New Post
</button>

<div class="row">
    {% for post in posts %}
    <div class="col-md-4 mb-3">
        <div class="card">
            {% if post.picture %}
            <img src="{{ post.picture.url }}" class="card-img-top" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description }}</p>
                <p class="card-text"><small class="text-muted">By: {{ post.author }}</small></p>
                <a href="{% url 'post-edit' post.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" action="{% url 'post-create' thread.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}